* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-family: "Roboto", sans-serif;
	color: #636363;
	font-weight: 400;
	line-height: 1.6;
	scroll-behavior: smooth;
}

.container {
	max-width: 1200px;
	margin: auto;
}
.title p {
	font-weight: 600;
	font-size: 22px;
	margin-bottom: 20px;
	color: #f55f8d;
}
.title h1 {
	font-size: 70px;
	line-height: 1.1;
	font-weight: 800;
	color: #262626;
	margin-bottom: 20px;
}

/* HEADER  */
.header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
}

.header .nav {
	display: flex;
	align-items: center;
	padding: 38px 0;
}
.header .nav .navbar {
	margin-right: 30px;
}
.header .navbar a {
	color: #070120;
	text-decoration: none;
	font-size: 15px;
	padding: 0 14px;
	font-weight: 500;
	display: inline-block;
}
.header .navbar a span {
	display: inline-block;
}
.header .navbar i {
	font-size: 9px;
	vertical-align: middle;
	margin-top: -3px;
}
.button {
	color: white;
	padding: 20px 35px;
	font-size: 15px;
	background-image: linear-gradient(
		to right,
		#f55f8d 0,
		#f8ae56 51%,
		#f55f8d 100%
	);
	text-decoration: none;
	border-radius: 30px;
	line-height: 1.2;
	background-size: 200%;
	border: 1px solid transparent;
	font-weight: 500;
	font-family: Arial, Helvetica, sans-serif;
	display: inline-block;
	transition: all 0.5s;
}

/* CAROUSEL  */
.carousel {
	padding-top: 180px;
	background-image: url(../image/pic2.png);
	background-size: 100%;
	background-position: top;
}
.carousel .container {
	display: flex;
	align-items: center;
}
.carousel-left {
	width: 60%;
}
.carousel-left .article {
	font-size: 18px;
	margin-bottom: 15px;
}
.carousel-left .advertise__content {
	margin-bottom: 20px;
}
.carousel-left .advertise {
	padding: 10px 5px 10px 0;
	font-size: 20px;
}

.carousel-left i {
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	font-size: 20px;
	color: #fff;
	border-radius: 35px;
	font-weight: 600;
	background-image: linear-gradient(
		to right,
		#f55f8d 0,
		#f8ae56 51%,
		#f55f8d 100%
	);
	background-size: 200%;
	margin-right: 10px;
}

.carousel-right {
	width: 40%;
}
.carousel-image {
	width: 570px;
	margin-left: 50px;
}

/* SERVICE  */
.service {
	padding-top: 115px;
	text-align: center;
	background-image: url(../image/bg2.png);
	background-size: cover;
	background-position: top center;
}

.service .row {
	display: flex;
	justify-content: space-between;
	margin: 40px -15px 0;
}
.service .row .col {
	width: calc(100% / 3);
	padding: 0 15px;
}
.service .row .col .item {
	padding: 30px 45px;
	border-radius: 0.5rem;
	background: #fff;
	box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
	transform: translateY(0);
	transition: all 0.5s;
}
.service .main .row .item img {
	width: 215px;
}
.service .main .row .item h3 {
	font-weight: 700;
	font-size: 1.5rem;
	color: #262626;
	margin: 15px 0;
}

/* ABOUT US  */
.about {
	padding: 115px 0 85px;
	background-image: url(../image/bg15.png);
	background-size: 100%;
	background-position: center right;
	background-repeat: no-repeat;
	padding-bottom: 85px;
	overflow: hidden;
}
.about .row {
	display: flex;
	position: relative;
	justify-content: flex-end;
	align-items: center;
}
.about .row .col-left {
	width: 60%;
}
.about .row .col-right {
	width: 50%;
}
.about .row .col-left {
	position: absolute;
	left: -17%;
}
.about .row .col-left img {
	width: 100%;
	border-radius: 0 100px 100px 0;
}
.about .row .col-right p {
	margin-bottom: 15px;
}
.about .main ul {
	margin-bottom: 30px;
}
.about .main li {
	list-style-type: none;
}
.about .main li i {
	font-size: 24px;
	color: #f55f8d;
	margin-right: 10px;
	vertical-align: middle;
}
/* NUMBER  */
.number {
	background-image: url(../image/bg14.png);
	background-position: center;
	background-repeat: no-repeat;
	padding: 80px 0 50px;
	text-align: center;
}
.number .row {
	display: flex;
}
.number .row .number__item {
	width: 25%;
	text-align: center;
}
.number .row .number__item i {
	font-size: 45px;
	background-image: linear-gradient(
		to right,
		#f55f8d 0,
		#f8ae56 51%,
		#f55f8d 100%
	);
	background-size: 200%;
	color: #fff;
	width: 80px;
	height: 80px;
	line-height: 80px;
	display: inline-block;
	border-radius: 50%;
	margin-bottom: 15px;
}
.number .row .number__item h3 {
	font-size: 65px;
	font-weight: 800;
	color: #f55f8d;
	line-height: 1;
}
.number .number__item p {
	color: #262626;
	font-size: 18px;
}

/* FEATURES  */
.features {
	background-image: url(../image/bg2.png);
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	padding-top: 115px;
	overflow: hidden;
}
.features .row {
	display: flex;
}
.features .col-left,
.features .col-right {
	width: 50%;
}
.features .col-right__bg {
	margin-right: -80px;
}
.features .col-right img {
	max-width: 100%;
}

/* FEATURES__GROUP  */
.features__group {
	display: flex;
	flex-direction: column;
}
.features__col:nth-of-type(2n + 1) {
	padding: 0 50px 30px 0;
}
.features__col:nth-of-type(2n) {
	padding: 0 0 30px 50px;
}
.features__item {
	box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
	padding: 30px;
	background-color: #fff;
	border-radius: 10px;
	display: flex;
	transition: all 1s;
	position: relative;
	overflow: hidden;
}
.features__item i {
	font-size: 80px;
	line-height: 1;
	color: #f55f8d;
	transition: all 1s;
	z-index: 1;
}
.features__item .features__content {
	padding-left: 25px;
	transition: all 1s;
	z-index: 1;
}
.features__content h3 {
	font-weight: 800;
	color: #262626;
	font-size: 1.5rem;
	transition: all 1s;
}
.features__content p {
	transition: all 1s;
}
/* FEATURES__ITEM:HOVER  */
.features__item::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(
		to right,
		#f55f8d 0,
		#f8ae56 51%,
		#f55f8d 100%
	);
	background-size: 200%;
	opacity: 0;
	transition: all 1s;
}
.features__item:hover::after {
	opacity: 1;
}
.features__item:hover .features__content h3,
.features__item:hover .features__content p {
	color: #fff;
}
.features__item:hover i {
	color: white;
}

/* PORTFOLIO */
.portfolio {
	padding-top: 115px;
	background-image: url(../image/bg17.png);
	background-size: cover;
	background-position: top center;
	text-align: center;
}

.portfolio .main .row {
	display: grid;
	grid-template-columns: repeat(2, 1fr) 1.5fr;
	gap: 35px;
}
.portfolio .main .row img {
	width: 100%;
	display: block;
	height: 100%;
}
.portfolio .main .row .col {
	position: relative;
	overflow: hidden;
	border-radius: 10px;
}
.portfolio .main .row .col-1 {
	grid-column: 1/3;
}
.portfolio .main .row .col-5 {
	grid-row: 2/4;
	grid-column: 3/4;
}
.portfolio .main .row .col-6 {
	grid-column: 1/3;
}

/* GRID__ITEM OVERLAY */
.portfolio .col__overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 0;
	transition: all 0.75s;
}
.portfolio .col__icon {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 28px;
	color: #fff;
	width: 50px;
	height: 50px;
	line-height: 50px;
	background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
	background-size: 200%;
	border-radius: 10px;
	text-align: center;
	transition: all 0.75s;
}
.portfolio .col__text {
	position: absolute;
	bottom: 30px;
	left: 30px;
	text-align: left;
	transition: all 0.75s;
}
.portfolio .col__text h3 {
	font-size: 22px;
	font-weight: 800;
	color: #fff;
}
.portfolio .col__text p {
	color: #fff;
	opacity: 0.7;
}

/* PLAN  */
.plan {
	padding-top: 115px;
	background-image: url(../image/bg16.png);
	background-size: cover;
	background-position: center;
	text-align: center;
}
.plan .main .row {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
	margin-top: 40px;
}

/* PLAN__ITEM  */
.plan__item {
	padding: 35px 60px;
	border: 3px solid transparent;
	box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
	background-color: #fff;
	transition: all 0.75s;
	border-radius: 8px;
	border-image: 100 round;
}
.plan__item:hover {
	border-image: url(../image/br.png) 1 round;
}
.plan__item img {
	width: 125px;
}
.plan__item h3 {
	font-weight: 700;
	color: #262626;
	font-size: 2rem;
}
.plan__item p {
	font-size: 18px;
	color: #262626;
	font-weight: 600;
	border-bottom: 1px solid #e1e1f0;
}
.plan__item p span {
	color: #f8ae56;
	font-size: 50px;
	font-weight: 800;
}
.plan__item ul {
	padding: 15px 0;
	text-align: left;
}
.plan__item li {
	list-style-type: none;
	padding: 5px 0;
	font-weight: 400;
}
.plan__item li i {
	font-size: 12px;
	width: 26px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	background-color: #feeff3;
	color: #f55f8d;
	border-radius: 100%;
	margin-right: 15px;
}
.plan__item li span {
	font-size: 18px;
	color: #262626;
}
/* TESTIMOTIONAL  */
.testimotional {
	padding: 115px 0 0;
	text-align: center;
}
.testimotional .main .swiper {
	width: 100%;
	min-height: 300px;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom{
	bottom:-6px;
}
.swiper-pagination-bullet-active {
	background: #f55f8d!important;
}
.testimotional .main .testimotional__content {
	padding: 30px;
	text-align: center;
	box-shadow: 0 10px 20px 0 rgb(0 0 0 / 10%);
	margin: 0 auto;
	border-radius: 10px;
	background-color: #fff;
	max-width: 770px;
	position: relative;
	border: 1px solid transparent;
}
.testimotional .testimotional__content i {
	position: absolute;
	top: 10px;
	left: 30px;
	font-size: 70px;
	color: #f55f8d;
	transform: rotate(-180deg);
}
.testimotional .testimotional__content .name {
	font-size: 22px;
	font-weight: 800;
	color: #000;
	line-height: 26px;
	margin-bottom: 5px;
}
.testimotional .testimotional__content p {
	font-size: 18px;
	font-weight: 400;
	font-style: italic;
	padding: 0 15px 15px;
}
.testimotional .testimotional__content .position {
	color: #f55f8d;
	margin-bottom: 20px;
}
/* BLOG  */
.blog {
	padding-top: 115px;
	background-image: url(../image/bg16.png);
	background-size: cover;
	background-position: top center;
	text-align: center;
	padding-bottom: 50px;
}
.blog .blog__item {
	text-align: left;
	background: rgba(245, 95, 141, 0.1);
	border-radius: 8px;
	margin: 0 15px;
}
.blog .blog__item img {
	width: 100%;
	border-radius: 8px;
	display: block;
}
.blog__item .blog__header {
	position: relative;
}
.blog__item .blog__header p {
	position: absolute;
	bottom: -20px;
	left: 15px;
	background-image: linear-gradient(
		to right,
		#f55f8d 0,
		#f8ae56 51%,
		#f55f8d 100%
	);
	background-size: 200%;
	border-radius: 6px;
	padding: 10px 20px;
	font-size: 14px;
	color: #fff;
}
.blog__item .blog__content {
	padding: 30px 15px 20px 15px;
	line-height: 1.4;
	margin-bottom: 20px;
}
.blog__item .blog__content h3 {
	font-size: 1.5rem;
	font-weight: 700;
	color: #262626;
}
.blog__item .blog__footer {
	padding: 15px;
	border-top: 1px solid rgba(0, 0, 0, 0.05);
	font-size: 14px;
	display: flex;
	font-weight: 400;
	align-items: center;
}
.blog__item .blog__footer i {
	font-size: 22px;
	color: #f55f8d;
	vertical-align: middle;
}
.blog__item .blog__footer p {
	margin-right: 20px;
}
.blog__item .blog__footer p:first-child span {
	color: #f55f8d;
}

/* FOOTER  */
.footer {
	background-image: url(../image/bg4.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #0e1b1f;
	background-size: contain;
}
.footer__top {
	display: flex;
	padding: 50px 60px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
	background-image: url(../image/pattern3.png);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 100%;
}
.footer__top p {
	width: 50%;
	font-size: 28px;
	color: #262626;
	font-weight: bold;
}
.footer__top form {
	width: 50%;
	display: flex;
	border-radius: 0.5rem;
	box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}
.footer__top form input {
	padding: 20px;
	font-size: 15px;
	flex: 1;
	border: 1px solid #fff;
	display: block;
	border-radius: 0.5rem 0 0 0.5rem;
	outline: none;
}
.footer__top form input:hover,
.footer__top form input:focus{
	border-color: #f55f8d!important;
}
.footer__top form button {
	padding: 20px 35px;
	font-size: 25px;
	color: white;
	background-image: linear-gradient(
		to right,
		#f55f8d 0,
		#f8ae56 51%,
		#f55f8d 100%
	);
	background-size: 200%;
	border-color: transparent;
	border-radius: 0 0.5rem 0.5rem 0;
	cursor: pointer;
	transition: all 0.5s;
}
.footer__top form button:hover {
    background-position: right center;
}
/* FOOTER__BOTTOM  */
.footer__bottom {
	display: flex;
	padding: 70px 0;
}
.footer__item {
	text-align: left;
	width: 25%;
}
.footer__item .footer__contact li {
	display: flex;
	color: white;
	font-size: 15px;
}

.footer__item .footer__contact i {
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
	display: block;
	border-radius: 50%;
	color: white;
}
.footer__item i {
	margin-right: 10px;
}
.footer__item h3 {
	font-size: 24px;
	font-weight: 700;
	padding-bottom: 10px;
	margin-bottom: 30px;
	position: relative;
	color: #fff;
}
.footer__item ul li {
	list-style-type: none;
	padding: 8px 0;
}
.footer__item ul li a {
	text-decoration: none;
	color: #636363;
}
.footer__item ul li a:hover {
	transition: all 1s;
	color: white;
	cursor: pointer;
}

/* HIEU UNG FOOTER H3  */
.footer__bottom .footer__item h3::before,
.footer__bottom .footer__item h3::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 4px;
	border-radius: 20px;
	background-image: linear-gradient(
		to right,
		#f55f8d 0,
		#f8ae56 51%,
		#f55f8d 100%
	);
	background-size: 200%;
}
.footer__bottom .footer__item h3::before {
	width: 15px;
}
.footer__bottom .footer__item h3::after {
	width: 45px;
	left: 20px;
}

/* FOOTER__COPYRIGHT  */
.footer__copyright {
	background-color: #1f343b;
	padding: 10px 0;
}
.footer__copyright .container {
	display: flex;
	justify-content: space-between;
}
.footer__copyright .copyright__left p {
	color: white;
	font-size: 15px;
}
.footer__copyright .copyright__left span {
	color: #f55f8d;
}
.footer__copyright .copyright__right a {
	display: inline-block;
	height: 32px;
	width: 32px;
	line-height: 32px;
	text-align: center;
	border-radius: 50%;
	font-size: 14px;
	color: #fff;
	background-color: rgba(255, 255, 255, 0.1);
	transition: all 0.5s;
}
.footer__copyright .copyright__right a:hover {
	background: #f55f8d;
}
/* BACK TO TOP  */
.backToTop{
	width: 50px;
    height: 50px;
    background: #f55f8d;
    border-radius: 8px;
    line-height: 50px;
    text-align: center;
    display: block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: #fff;
	
}
